.quote{
    background-color: white;
    padding-bottom: 2em;
    padding-top: 2em;
    font-family:'Roboto Condensed','Fredoka', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Roboto+Condensed:wght@100;300;400&display=swap');

.card__main{  
    width:20vw;
    display: grid;
    grid-row-gap: 1rem;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.card__moreAuthor{
    
    margin-top: 2rem;
     /* margin-bottom: 2rem; */
    padding-left: 2rem;
    text-align: left;
    font-size: 15px;
    font-weight: 100;
}
.card__moreQuote{
    margin-top: 1rem;
    padding-left: 2rem;
    border-left: 4px solid gold;
    font-size: 16px;
    font-weight:0;
    text-align: left;
    line-height: 1.3;
    row-gap: 30px;
}

.quote{
    overflow: scroll;
}

/* Hide Scrollbar for chrome, safari and Opera */
.quote::-webkit-scrollbar{
 display: none;   
}

/* Hide scrollbar for IE, Edge,and firefox */
.quote{
    -ms-overflow-style: none;   /*IE and Edge*/
    scrollbar-width: none;  /*firefox*/
}

 @media(max-width: 980px) {
    .card__main{
        
        width: 40vw;

       align-items: center;
      width: 40vw;
      margin-left: -20px;
      padding: 1em;
      margin-top: 6em;
      font-size: small;
    }
  }  